@(ideas: List[Idea])(implicit flash: play.api.mvc.Flash)

@main("All ideas") {
  <h1>All ideas</h1>
  @if(ideas.isEmpty) {
    <p>No ideas found</p>
  } else {
    <ul>
      @ideas.map { idea =>
        <li>
          @idea.title
          <a href="@routes.Ideas.edit(idea.id.get)">Edit</a>
          @helper.form(routes.Ideas.delete(idea.id.get)) {
            <button type="submit">Delete</button>
          }
        </li>
      }
    </ul>
  }

  <a href="@routes.Ideas.add">Add a new idea</a>
}
